{
  "plugins": [
        [ 
            "module-resolver",
            {
                "root": ["."],
                "alias": {
                    "lib": "./lib",
                    "hoc": "./src/app/hoc"
                }
            }
        ]
  ]
}
